langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-tavily
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
sentence-transformers
pypdf
faiss-cpu
python-dotenv
requests
streamlit
pydantic